body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  h1, h2 {
    margin-bottom: 20px;
  }
  
  .recharts-tooltip-wrapper .recharts-default-tooltip {
    background-color: rgba(36, 28, 28, 0.75);
    border: none;
    color: #ffffff;
  }
  
  body.light .recharts-tooltip-wrapper .recharts-default-tooltip {
    background-color: rgba(255, 255, 255, 0.75);
    color: #000000;
  }
  
  .recharts-cartesian-axis-tick-value {
    fill: currentColor;
  }
  
  .recharts-cartesian-axis-line,
  .recharts-cartesian-axis-tick-line {
    stroke: currentColor;
  }
  
  .recharts-legend-item-text {
    color: currentColor;
  }
  
  .custom-tooltip {
    padding: 10px;
    border-radius: 5px;
  }
  
  .toggle-button {
    background: none;
    border: 2px solid currentColor;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: currentColor;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.light .toggle-button {
    background-color: #000000;
    color: #ffffff;
  }
  
  body.dark .toggle-button {
    background-color: #ffffff;
    color: #000000;
  }
  
  @media (max-width: 600px) {
    .App {
      padding: 10px;
    }
  
    h1, h2 {
      font-size: 1.5em;
    }
  }
  